body{
    background:linear-gradient(to right, maroon, red);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.super{
    display:flex;
    justify-content: center;
}
.parent{
    width:100vw;
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-start;
    overflow-x:auto;
    overflow:scroll;
}

.card {
    flex: 0 0 auto !important;
    margin: 10px;
    width:300px;
  }

.card-body{
    padding: 0px 0px 0px;
}


.card-img-top{
    width:600px;
    margin:0px 0px 0px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(153,153,161,0.09427521008403361) 45%, rgba(2,0,36,1) 100%);    height:450px;
    object-fit:contain;
}

.imageContainer{
    background:black;
    height:300px;
    display:flex;
    align-items:center;
}
.row{
    height:100%;
}

.container{
    height:100vh;
    overflow-y:scroll;
}

.category-heading{
    font-family:'Orbitron', sans-serif !important;
}

